html,
body {
  background: #e4e5e9;
}
.main {
  width: 1200px;
  margin: 0 auto;
}
.header {
  width: 100%;
  height: 70px;
  line-height: 70px;
  background: #fff;
  background: rgba(245, 246, 251, 0.75);
  box-shadow: 0 2px 10px rgba(90, 90, 90, 0.6);
}
.header h1 {
  float: left;
  margin: 4px 0 0 0;
}
.header h1 a {
  width: 173px;
  height: 64px;
  display: block;
  background: url(../img/logo/logo_3.png) center no-repeat;
  background-size: 100% 100%;
}
.header .nav_list {
  position: relative;
  float: left;
  margin: 0 0 0 102px;
}
.header .nav_list .line {
  height: 5px;
  position: absolute;
  bottom: 0;
  margin: 10px 0 0 0;
  background: #0080c5;
}
.header .nav_list li {
  float: left;
  height: 70px;
  line-height: 70px;
  padding: 0 40px;
  box-sizing: border-box;
  text-align: center;
}
.header .nav_list li a {
  font-size: 22px;
  color: #424242;
  display: block;
  border-radius: 2px;
  font-family: "microsoft yahei", arial, sans-serif;
}
.header .nav_list li a:hover {
  color: #0080c5;
}
.header .nav_list li .r_link,
.header .nav_list li .r_link_cur {
  height: 0;
  overflow: hidden;
  background: #fff;
  background: rgba(245, 246, 251, 0.75);
  transition: 0.3s;
}
.header .nav_list li.send_resume {
  padding-right: 0;
}
.header .nav_list li:hover .r_link {
  height: 140px;
}
.header .nav_list li:hover .r_link_cur {
  height: 70px;
}
.news_ban img {
  display: block;
  width: 100%;
  transition: 0.5s;
}
.container {
  padding: 50px 0 50px;
  width: 100%;
  background: url(../img/cont_bg.png) no-repeat;
  background-attachment: fixed;
}
.container .recruit_link {
  display: flex;
  padding-bottom: 30px;
}
.container .recruit_link div {
  position: relative;
  flex: 1;
  /* p {
        margin: 100px auto 0;
        width: 447px;
        font-size: 19px;
        color: #000;
       
      } */
}
.container .recruit_link div p {
  width: 447px;
  font-size: 18px;
  color: #000;
  text-align: center;
}
.container .recruit_link div p.qr_text {
  position: absolute;
  top: 75px;
  left: 50%;
  transform: translateX(-60%);
}
.container .recruit_link div p.explain {
  margin: 120px auto 0;
}
.container .recruit_link div a {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 50px 0 0 -223px;
  width: 447px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 24px;
  background: #0080c4;
  border-radius: 8px;
  text-decoration: underline;
}
.container .title img {
  display: block;
  width: 803px;
  margin: 30px auto 30px;
}
.container .process img {
  display: block;
  width: 985px;
  margin: 0 auto;
}
.container .apply {
  width: 900px;
  margin: 60px auto 0;
  text-align: right;
}
.container .apply a {
  display: inline-block;
  width: 120px;
  height: 36px;
  line-height: 36px;
  border-radius: 19px;
  font-size: 16px;
  text-align: center;
  color: #0080c4;
  border: 2px solid #0080c4;
  transition: 0.2s;
}
.container .apply a:hover {
  color: #fff;
  background: #0080c4;
}
.copy_right {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #088ed5;
  text-align: center;
}
.copy_right p {
  color: #FFF;
  font-size: 18px;
  font-weight: 100;
}
.copy_right p i {
  display: inline-block;
  vertical-align: top;
  width: 32px;
  height: 41px;
  margin-right: 10px;
  background: url(../img/copy_icon.png) no-repeat;
}
