html,
body {
  width: 100%;
  height: 100%;
  font-size: "	Microsoft Yahei";
}

/* body::-webkit-scrollbar {
  display: none;
} */

.main {
  width: 1200px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 70px;
  line-height: 70px;
  background: #fff;
  h1 {
    float: left;
    margin: 4px 0 0 0;
    a {
      width: 173px;
      height: 64px;
      display: block;
      background: url(../img/logo_3.png) center no-repeat;
      background-size: 100% 100%;
    }
  }
  .nav_list {
    float: left;
    margin: 15px 0 0 102px;
    li {
      float: left;
      width: 183px;
      height: 42px;
      line-height: 42px;
      padding: 0 14px;
      box-sizing: border-box;
      text-align: center;
      a {
        font-size: 21px;
        color: #000;
        padding: 0 10px;
        display: block;
        border-radius: 4px;
      }
      &:hover a {
        color: #fff;
        background: #0080c5;
      }
      &.active a {
        color: #fff;
        background: #0080c5;
      }
    }
  }
}

.main_kv {
  width: 100%;
  height: 100%;
  background: url(../img/page_bg_1.jpg) center no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
  .logo {
    position: fixed;
    top: 20px;
    left: 50px;
    z-index: 99;
    text-indent: -9999em;
    a {
      display: block;
      width: 133px;
      height: 51px; // background: url(../img/logo.png) center no-repeat;
      background-size: cover;
    }
  }
  h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: #FFF;
    font-weight: 100;
    letter-spacing: 53px;
  }
} //.page_1 end
.swiper_container {
  display: none;
  width: 100%;
  height: 100%;
  .swiper_wrapper {
    width: 100%; //height: 100%;
    overflow: hidden;
    .swiper_slide {
      width: 100%;
      height: 100%;
      position: relative;
      display: none;
      &.page_2 {
        background: url(../img/page_bg_2.jpg) center no-repeat;
        background-size: cover;
        #page_map {
          width: 100%;
          height: 100%;
        }
      }
      &.page_3 {
        display: block;
        .page_cont_1,
          {
          top: 0;
          left: 0;
          width: 30%;
          height: 100%;
          background: url(../img/page_bg_qt.png) center no-repeat;
          background-size: 100% 100%;
          .cont_box {
            a {
              margin: -146px 0 0 -137px;
              width: 250px;
              height: 250px;
              background: url(../img/logo_qt.png) center no-repeat;
              background-size: 100% 100%;
            }
          }
          .hover_cont {
            .hover_icon {
              background: url(../img/logo_qt.png) no-repeat;
            }
          }
        }
        .page_cont_2 {
          top: 0;
          left: 30%;
          width: 40%;
          height: 100%;
          background: url(../img/page_bg_zq.png) center no-repeat;
          background-size: 102% 102%;
          .hover_box {
            .hover_cont {
              p {
                position: absolute;
                top: 45%;
                left: 27%;
                width: 420px;
                color: #FFF;
                font-size: 20px;
                line-height: 39px;
                font-weight: 100;
                text-indent: 2px;
              }
            }
          }
        }
        .page_cont_3 {
          top: 0;
          right: 0;
          width: 30%;
          height: 100%;
          background: url(../img/page_bg_zx.png) center no-repeat;
          background-size: 100% 100%;
        }
        .cont_cmt {
          position: absolute;
          overflow: hidden;
          transition: all ease-out .4s;
          div {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            a {
              display: block;
              position: absolute;
              top: 50%;
              left: 50%;
              margin: -130px 0 0 -122px;
              width: 261px;
              height: 244px;
              background: url(../img/cont_bg_yt.png) center no-repeat;
              background-size: cover;
            }
            &.hover_box {
              left: 100%;
              background: rgba(0, 55, 89, .7);
              transition: left .3s;
              .hover_cont {
                .hover_icon {
                  top: 30%;
                }
                p {
                  position: absolute;
                  top: 45%;
                  left: 21%;
                  width: 370px;
                  color: #FFF;
                  font-size: 20px;
                  line-height: 39px;
                  font-weight: 100;
                  text-indent: 2px;
                }
                .hover_link {
                  top: 94%;
                  left: 45%;
                  margin-left: -75px;
                  background: none;
                  width: 220px;
                  height: 56px;
                  line-height: 56px;
                  text-align: center; //line-height: 60px;
                  font-size: 25px;
                  color: #FFF;
                  border: 2px solid #FFF;
                  &:hover {
                    background-color: #0080C9;
                    border: 2px solid #0080C9;
                  }
                }
              }
            }
          }
          &:hover {
            background-size: 110% 110%;
          }
          &:hover .hover_box {
            left: 0;
          }
          &:hover .cont_box {
            display: none;
          }
        } //.cont_cmt end
        &:hover {
          background-size: 120% 120%;
        }
      } //.page_3 end
      &.page_4 {
        background: url(../img/page_bg_4.jpg) center no-repeat;
        background-size: cover;
      }
      &.page_5 {
        background: url(../img/page_bg_5.jpg) center no-repeat;
        background-size: cover;
      }
      &.page_6 {
        background: url(../img/page_bg_6.jpg) center no-repeat;
        background-size: cover;
        /*   .offi {
          .offi_bg {
            width: 279px;
            height: 289px;
            background: url(../img/logo_bg_zy.png) no-repeat !important;
          }
        } */
      }
      &.offi_cmt {
        .offi {
          position: absolute;
          top: 45%;
          left: 50%;
          transform: translate(-50%, -50%);
          .offi_bg {
            position: relative;
            width: 279px;
            height: 289px;
            background: url(../img/logo_bg_zy.png) no-repeat;
            i {
              position: absolute;
              right: -32px;
              bottom: 17px;
              display: block;
              width: 48px;
              height: 95px;
              background: url(../img/offi_arrow.png) no-repeat;
              animation: arrow 1.5s linear infinite;
            }
            @keyframes arrow {
              0% {
                transform: translateX(0);
                opacity: 0;
              }
              50% {
                transform: translateX(35px);
                opacity: 1;
              }
              100% {
                transform: translateX(0);
                opacity: 0;
              }
            }
          }
          .invite {
            position: relative;
            a {
              position: absolute;
              top: 56px;
              left: -187px;
              display: inline-block;
              margin: 0 20px;
              width: 250px;
              height: 65px;
              line-height: 65px;
              text-align: center; //line-height: 60px;
              font-size: 37px;
              font-weight: 100;
              color: #FFF;
              border: 2px solid #FFF; //border-radius: 10px;
              &:nth-of-type(2) {
                left: 240px;
              }
              &:hover {
                background-color: #0080C9;
                border: 2px solid #0080C9;
              }
            }
          }
        }
        .qr_icon {
          position: absolute;
          right: 50px;
          bottom: 50px;
          i {
            display: block;
            width: 87px;
            height: 91px;
            background: url(../img/qr_icon_1.png) no-repeat;
            background-size: cover;
          }
          img {
            display: none;
            position: absolute;
            top: -150px;
            left: -35px;
            width: 132px;
            height: 165px; //transition:all 1s;
          }
          &:hover i {
            background: url(../img/qr_icon_2.png) no-repeat;
          }
        }
      }
    }
  } //.swiper-wrapper end
  .copy_right {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: rgba(0, 128, 201, .2);
    text-align: center;
    p {
      color: #FFF;
      font-size: 18px;
      font-weight: 100;
      i {
        display: inline-block;
        vertical-align: top;
        width: 32px;
        height: 41px;
        margin-right: 10px;
        background: url(../img/copy_icon.png) no-repeat;
      }
    }
  }
}

//.swiper-container end
.page_idx {
  position: fixed;
  top: 50%;
  right: 50px;
  z-index: 9999;
  width: 10px;
  height: 30%;
  transform: translateY(-50%);
  li {
    display: block;
    width: 8px;
    height: 8px;
    border: 2px solid #fff;
    border-radius: 12px;
    margin-bottom: 25px;
    cursor: pointer;
    transition: .3s;
    &.active {
      height: 20px;
      background: #FFF;
    }
  }
}